{% load cms_tags i18n %}

<div class="p-0">
  <div class="d-flex flex-column justify-content-center my-2 shadow" style="max-width: 650px;">
    <div class="d-flex justify-content-center bg-light p-2 px-4">
      {% if not instance.is_success %}
        <h2 class="">{% translate instance.topic %}</h2>
      {% else %}
        <div class="d-block text-success justify-content-center m-3">
          <h2 class="text-center">{{ instance.success_message_title }}</h2>
          <p class="text-center lead">{{ instance.success_message_body }}</p>
        </div>
      {% endif %}
    </div>
    {% if not instance.is_success %}
      <div class="p-3">
        <form action="" method="POST" class="{{ instance.html_classes }}">
          {% csrf_token %}

          {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
          {% endfor %}
        </form>
      </div>
    {% endif %}
  </div>
</div>
