{% load cms_tags %}

<div class="d-flex justify-content-center m-3">
    {% if instance.type == 'button' %}
    <button type="submit" value="{{ instance.label }}" class="{{ instance.html_classes }}"
        {% include 'akcmsplugin_contact_form/id_and_name.html' %}
        >{{ instance.label }}</button>
    {% elif instance.type == 'input' %}
    <input type="submit" value="{{ instance.label }}" class="{{ instance.html_classes }}"
        {% include 'akcmsplugin_contact_form/id_and_name.html' %}
        />
    {% endif %}
</div>