{% load cms_tags i18n %}

<div class="d-flex flex-wrap justify-content-center m-0 p-0">
    {% if instance.type == 'button' %}
    <button type="submit"
        value="{% translate instance.label %}"
        class="btn btn-primary py-3 my-3 {{ instance.html_classes }}"
        {% include 'akcmsplugin_contact_form/id_and_name.html' %}
        >{% translate instance.label %}</button>
    {% elif instance.type == 'input' %}
    <input type="submit"
        value="{% translate instance.label %}"
        class="{{ instance.html_classes }}"
        {% include 'akcmsplugin_contact_form/id_and_name.html' %}
        />
    {% endif %}
    <div class="d-flex alert alert-warning justify-content-center align-items-center m-0 py-2 col-12 lead" role="alert">
        <div>{% translate "Your request is not yet submitted!" %}</div>
    </div>
</div>